<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить</title>
</head>
<body>
<form method="post" th:action="@{/task/add}" th:object="${task1}">
  <label for="task">Введите имя задачи</label>
  <input type="text" id="task" th:field="*{task}">
  <p th:if="${#fields.hasErrors('task')}" th:errors="*{task}" style="color: red">Имя задачи</p>

  <br>
  <label for="text">Введите Текст</label>
  <input type="text" id="text" th:field="*{text}">
  <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}" style="color: red">Имя задачи</p>

  <br>
  <input type="submit" value="Успешно">
</form>
</body>
</html>