<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/task/add">Добавить задачу</a>
<h3>Сортировать по:</h3>
<a href="/task/sort/create">По дате Создания</a>
<br>
<a href="/task/sort/change">По дате изменения</a>
<br>
<a href="/task/sort/status" >По Статусу</a>
<br>
<a href="/task/sort/name">По названию</a>
<br>
<div th:each="task : ${tasks}">
    <br>
    <div style="border: 1px solid black">
        <a th:href="@{'/task/' + ${task.getId()}}" th:text="${task.task}"></a>
        <p th:text="'Дата создания ' + ${task.dateOfCreation}"></p>
        <p th:text="'Дата Изменения ' + ${task.dateOfChange}"></p>
        <p th:text="'Статус ' + ${task.isCompleted}"></p>
    </div>
</div>




</body>
</html>